<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @food.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @food.category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @food.restaurant %>
</p>

<p>
  <strong>Loca simple:</strong>
  <%= @food.loca_simple %>
</p>

<p>
  <strong>Loca map:</strong>
  <%= @food.loca_map %>
</p>

<p>
  <strong>Image:</strong>
  <%= @food.image %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
